/* ==================================================
   ===================== BASE =======================
   ================================================== */
body {
  font-family: sans-serif;
  background-color: #101;
  color: #eef;
}

h1 {
  color: gold;
}

header, section, footer, aside {
  border: 1px solid gold;
  padding: 15px;
  margin: 15px auto;
}

header, footer {
  text-align: center;
}

.name {
  text-transform: capitalize;
  font-style: normal;
}

.alert {
    color: green;
}

.error {
    color: red;
}
